<h3 class="cute_kittens text-center"> Ton panier : </h3><br>

<div class="container">
  <div class="row">
    <% @cartitems.each do |element| %>

        <p><%= element.item.title %></p>
        <p><%= element.item.image_url %></p>
        <p><%= element.item.price %></p>



     
    <% end %>
  </div>
</div>