<br>
<h3 class="mycart text-center"> Ton panier : </h3><br>

<div class="container">

    <% @cart_items.each do |element| %>

        <p><%= element.item.title %></p>
        <p><%= element.item.image_url %></p>
        <p><%= element.item.price %> </p>



     
    <% end %>

</div>